fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
pydantic-settings
scikit-learn
pandas
numpy
matplotlib
seaborn
nltk
joblib
pdfminer.six
python-docx
python-dotenv
docx
requests
beautifulsoup4
httpx
